@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.75rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #63d0b3;
  border-radius: 0.75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.menu {
  position: absolute;
  overflow-y: scroll;
  top: calc(100% + 1rem);
  width: 20rem;
  max-height: 40rem;
  background-color: #4e4e4e;
  border: 2px solid #80d0b3;
  border-radius: 0.75rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all;
}

.menu.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
